[submodule "vscp-firmware"]
	path = vscp-firmware
	url = https://github.com/grodansparadis/vscp-firmware.git
[submodule "WIZnet-PICO-C"]
	path = WIZnet-PICO-C
	url = https://github.com/WIZnet-ioNIC/WIZnet-PICO-C.git
